<div class='container chat-container'>
  <head>
    <span>Enter your e-mail: </span><input type='email' style='width: 250px' />
  </head>
  <div class='chat-message'>
    <div class='meta'>
      <span class='sender'>John Doe</span>
      <span class='time'>12:30 PM</span>
    </div>
    <div class='message'>
      Hey, how's it going?
    </div>
  </div>

  <div class='chat-message'>
    <div class='meta'>
      <span class='sender'>Jane Smith</span>
      <span class='time'>12:32 PM</span>
    </div>
    <div class='message'>
      Hi John! I'm doing great. How about you?
    </div>
  </div>
</div>